:root{
    --back: rgb(66, 66, 66);
    --pock: rgb(245, 244, 244);
}
.inv{
    display: none;
}
html{
    margin: 0;
}
body{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
:root{
    font-family: 'Press Start 2P', cursive;
    background-color: var(--back);
}
