
.listaPokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.pokemon{
    background-color: var(--pock);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 2px solid var(--pock);
    border-radius: 10%;
    transition: 300ms;
    margin: 2vw;
}
.pokemon:hover{
    opacity: 0.8;
}
.pokemon > h2{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.pokemon > ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.pokemon > ul > li{
    font-size: 0.5rem;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 10%;
}
@media only screen and (max-width: 700px) {
    
    .pokemon{
        width: 26%;
    }
    
}
@media only screen and (max-width: 660px) {
    .pokemon{
        width: 40%;
    }
    
}
@media only screen and (max-width: 440px) {
    .pokemon{
        width: 80%;
    }
    
}