.pageContaine{
    min-height: 100vh;
}
.filter{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
}
.filter div{
    display: flex;
}
.filter img{
    width: 5vw;
}
.filter input{
    height: 2.5vh;
}

.listaPokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pokemon{
    cursor: pointer;
    background-color: var(--pock);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 2px solid var(--pock);
    border-radius: 10%;
    transition: 300ms;
    margin: 2vw;
}
.pokemon:hover{
    opacity: 0.8;
}
.pokemon > h2{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.pokemon > ul,.pokeshow ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.pokemon > ul > li,.pokeshow ul li{
    font-size: 0.5rem;
    /* background-color: purple;
    border: 2px solid lightblue; */
    border-radius: 10%;
}
.pokemon img {
    width: 100%;
}

#add{
    cursor: pointer;
    position: fixed;
    left: 90vw;
    top: 90vh;
    width: 4vw;
    border-radius: 100%;
    opacity: 1;
    transition: 200ms;
    background-color: pink;
    border: 2px solid black;
}
#add:hover{
    background-color: red;
}
.pokeshow, .pokeadd{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(2,1fr);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}
.pokeS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
    height: 80%;
    width: 50%;
}

.pokeS img{
    width: 50vh;

}

.pokeImg{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descricao{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-template-rows: repeat(2,1fr);
    padding: 5%;
}
.pokeshow > .pokemon{
    opacity: 1;
}
.close{
    cursor: pointer;
    position: fixed;
    top: 12vh;
    left: 80vw;
    width: 5vw;
    transition: 100ms;
}
.close:hover{
    opacity: 0.7;
}
.delete{
    cursor: pointer;
    position: fixed;
    top: 24vh;
    left: 80vw;
    width: 5vw;
    transition: 100ms;
}
.delete:hover{
    opacity: 0.7;
}
.inv{
    display: none;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn{
    width: 100%;
    height: 5vh;
    transition: 300ms;
}
.btn:hover{
    border: none;
    background-color: red;
}
@media only screen and (max-width: 700px) {
    
    .pokemon{
        width: 26%;
    }
    
}
@media only screen and (max-width: 660px) {
    .pokemon{
        width: 40%;
    }
    .pokeS img{
        width: 40vw;
    }
    
}
@media only screen and (max-width: 440px) {
    .pokemon{
        width: 80%;
    }
    
}